*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
background:#050505;
font-family:'Orbitron',sans-serif;
display:flex;
align-items:center;
justify-content:center;
overflow:hidden;
color:white;
}

.glow{
position:absolute;
width:600px;
height:600px;
background:#00ffff33;
filter:blur(200px);
}

.container{
z-index:2;
text-align:center;
padding:60px;
border-radius:20px;
background:rgba(255,255,255,0.03);
backdrop-filter:blur(15px);
box-shadow:0 0 40px #00ffff22;
}

h1{
font-size:70px;
letter-spacing:6px;
text-shadow:0 0 20px cyan;
margin-bottom:10px;
}

p{
opacity:.7;
margin-bottom:40px;
}

.buttons{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
}

.btn{
padding:15px 40px;
border-radius:30px;
text-decoration:none;
color:white;
font-weight:700;
transition:.3s;
border:1px solid cyan;
box-shadow:0 0 15px cyan;
}

.invite{
background:#00ffff22;
}

.support{
background:#ffffff11;
}

.btn:hover{
transform:scale(1.08);
box-shadow:0 0 40px cyan;
}

.footer{
display:block;
margin-top:40px;
opacity:.4;
font-size:12px;
}
