*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
background:linear-gradient(-45deg,#020024,#090979,#00d4ff,#000);
background-size:400% 400%;
animation:bg 12s ease infinite;
font-family:Orbitron,sans-serif;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
color:white;
}

@keyframes bg{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.card{
background:rgba(255,255,255,.05);
padding:70px;
border-radius:25px;
text-align:center;
backdrop-filter:blur(25px);
box-shadow:0 0 60px #00ffff55;
z-index:2;
}

.glitch{
font-size:80px;
letter-spacing:8px;
text-shadow:
0 0 10px cyan,
0 0 30px cyan;
animation:pulse 2s infinite;
}

@keyframes pulse{
0%{text-shadow:0 0 10px cyan}
50%{text-shadow:0 0 40px cyan}
100%{text-shadow:0 0 10px cyan}
}

p{
opacity:.7;
margin-bottom:40px;
}

.btn{
display:block;
margin:20px auto;
padding:18px 50px;
border-radius:40px;
text-decoration:none;
font-weight:800;
letter-spacing:2px;
transition:.3s;
border:2px solid cyan;
width:260px;
}

.invite{
background:#00ffff22;
color:white;
box-shadow:0 0 25px cyan;
}

.support{
background:#ffffff11;
color:white;
}

.btn:hover{
transform:scale(1.1);
box-shadow:0 0 60px cyan;
}

.domain{
display:block;
margin-top:35px;
opacity:.4;
font-size:12px;
}

#particles span{
position:absolute;
width:3px;
height:3px;
background:cyan;
animation:float linear infinite;
opacity:.6;
}

@keyframes float{
from{transform:translateY(100vh)}
to{transform:translateY(-10vh)}
}
